body {
  margin: 0;
  background-image: "./images/background.png";
}

main {
  margin-top: 110.75px;
  min-height: 80vh;
}

/* NavBar section */
.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

a .nav-link {
  color: #e8e2dc;
}
.custom-bg {
  background: linear-gradient(to right, #a89076, 80%, #d7cab9);
}

/* Card section */
/* .cardheight {
  min-height: 400px;
  max-height: 400px;
} */

.card-title {
  height: 42px;
}
.card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* ShopScreen section */
.card-shopscreen:hover {
  @webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* product screen section */

.product-screen-img {
  width: 450px;
  height: 450px;
}

/* Shipping screen section */

.shippingForm {
  width: 2rem;
}
